body {
  margin: 0;
  background-color: white;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(34, 32, 32);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

button {
  border: 1px black solid;
  border-radius: 0.4em;
  padding: 0.5em;
  width: fit-content;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.2em;
}

a {
  text-decoration: none;
}
